{% extends 'templates/base.twig' %}

{% block title %}ReactJS - Boilerplate{% endblock %}

{% block content %}
	<div id="app-root"></div>
{% endblock %}

{% block footer_script %}
	{{ parent() }}
{% endblock %}
