node_modules
vendor

public/assets/js/*
!public/assets/js/vendor/**/*

public/assets/css/*.css
!public/assets/css/*.min.css
!public/assets/css/vendor/**/*

public/assets/favicons/*


*.map
*.log
composer.phar
app/config/local.php
webpack.vars.local.js

.DS_Store
.smddeleted?
.smddeleted*
